@model ChangePasswordViewModel
@{
    ViewBag.Title = "Смена пароля";
}

<h2>@ViewBag.Title.</h2>
<div asp-validation-summary="ModelOnly" class="ErrorLi"></div>
<form asp-action="ChangePassword" method="post" asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="OldPassword"></label>
        <div class="col-md-10">
            <input asp-for="OldPassword" value="@Model.OldPassword" />
            <span asp-validation-for="OldPassword"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <div class="col-md-10">
            <input asp-for="NewPassword" value="@Model.OldPassword" />
            <span asp-validation-for="NewPassword"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmNewPassword" value="@Model.OldPassword" />
            <span asp-validation-for="ConfirmNewPassword"></span>
        </div>
    </div>
    <br />  
    <input type="submit" value="Смена пароля" class="ActionButton" />
</form>
