@using IdentiModel
@model EntriesMy[] 
<table class="table_report">
    <tr>
        <th>Тип</th>
        <th>Дата</th>
        <th>Сообщение</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Type</td>
            <td>@item.TimeGenerated</td>
            <td>@item.Message</td>
        </tr>
    }
</table>
