@{
    ViewBag.Title = "Подпись документов";
    var isSignAdmin = User.IsInRole("SignAdmin");

}
@section Lib
{
    @{ await Html.RenderPartialAsync("_ReactScriptsPartical");}
    <script src="~/lib/signalr/signalr.min.js"></script>
    <link rel="stylesheet" href="~/fonts/MaterialIcons/MIcon.css" rel="stylesheet" />
}


<div id="app" isAdmin="@(isSignAdmin.ToString())"> </div>

@section Scripts
{
    <script src="~/lib/Cades/cadesplugin_api.js"></script>
    <script src="~/lib/Cades/es6-promise.min.js"></script>
    <script src="~/lib/Cades/ie_eventlistner_polyfill.js"></script>


    <script src="~/js/ReactApp/Sign.js" asp-append-version="true"></script>

}