::ng-deep {
     .red-p-splitbutton  .p-button {
        background: lightcoral;
        border-color: lightcoral;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
      }
      .red-p-splitbutton  .p-button:hover {
        background: rgb(245, 83, 83);
        border-color: rgb(245, 83, 83);
      }


      .green-p-splitbutton  .p-button {
        background:  #4CAF50;
        border-color: #4CAF50;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
      }
      .green-p-splitbutton  .p-button:hover {
        background:  #0ea813;
        border-color: #0ea813;
      }


      .gray-p-splitbutton  .p-button {
        background: #c4c4c4;
        border-color: #c4c4c4;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
      }
      .gray-p-splitbutton  .p-button:hover {
        background: #a3a3a3;
        border-color: #a3a3a3;;
      }
     
  }
  