
@model ViewModelTMK



<div ng-if="IsLoadTMK===true">Загрузка...</div>
<div ng-if="IsLoadTMK===false">
    <h3>{{CurrentTMK.NAM_MOK}}</h3>
    <hr />
    <ul ng-repeat="ERR in ErrTMK">
        <li class="ErrorLi">{{ERR}}</li>
    </ul>
    
    <div>
        <table>
            <tr>
                <td class="BoldText">Статус</td>
                <td>
                    <div ng-switch="CurrentTMK.STATUS">
                        <div class="tooltip" ng-switch-when="1">
                            <img src="~/Image/GreenIndicator.png" alt="Закрыта"/>
                            <span class="tooltiptext">Закрыта</span>
                        </div>

                        <div class="tooltip" ng-switch-when="0">
                            <img src="~/Image/YelowIndicator.png" alt="Открыта"/>
                            <span class="tooltiptext">Открыта</span>
                        </div>

                        <div class="tooltip" ng-switch-when="-1">
                            <img src="~/Image/RedIndicator.png" alt="Ошибка"/>
                            <span class="tooltiptext">Ошибочная: {{CurrentTMK.STATUS_COM}}</span>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td class="BoldText">Дата внесения</td>
                <td>{{CurrentTMK.DATE_INVITE|date:'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            <tr>
                <td class="BoldText">Дата редактирования</td>
                <td>{{CurrentTMK.DATE_EDIT|date:'yyyy-MM-dd HH:mm'}}</td>
            </tr>
            <tr>
                <td class="BoldText">Страховая компания</td>
                <td>
                    {{CurrentTMK.SMO_NAM}}
                </td>
                <td>
                    <div class="tooltip" ng-show="IsTMKAdmin">
                        <input type="button" class="ActionButton" value="Пометить как МТР" ng-click="SetAsMTR()" />
                        <span class="tooltiptext">Указать в качестве СМО - ТФОМС Забайкальского края</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <hr />
    <div class="TMKForm">
        <div>
            <label class="BoldText">ЕНП</label><input readonly ng-value="CurrentTMK.ISNOTSMO? 'Нет страхования' : CurrentTMK.ENP" />
        </div>
        <hr />
        <div>
            <label class="BoldText">Фамилия</label><input type="text" readonly ng-value="CurrentTMK.FAM"/>
            <label class="BoldText">Имя</label><input type="text" readonly ng-value="CurrentTMK.IM" />
            <label class="BoldText">Отчество</label><input type="text" readonly ng-value="CurrentTMK.OT" />
            <label class="BoldText">Дата рождения</label><input type="date" readonly ng-value="CurrentTMK.DR|date:'yyyy-MM-dd'"  />
        </div>
        <div ng-show="CurrentTMK.NOVOR">
            <p>Данные представителя</p>
            <label class="BoldText">Фамилия</label><input type="text" readonly ng-value="CurrentTMK.FAM_P" />
            <label class="BoldText">Имя</label><input type="text" readonly   ng-value="CurrentTMK.IM_P"/>
            <label class="BoldText">Отчество</label><input type="text" readonly  ng-value="CurrentTMK.OT_P"/>
            <label class="BoldText">Дата рождения</label><input type="date" readonly  ng-value="CurrentTMK.DR_P|date:'yyyy-MM-dd'"/>
        </div>

       

        <hr />
        <div>
            <table>
                <tr>
                    <td class="BoldText">Вид медицинской документации</td>
                    <td><input style="width: 100%;" readonly ng-value="CurrentTMK.VID_NHISTORY_NAM"  /></td>
                </tr>
                <tr>
                    <td class="BoldText">№ истории болезни / амбулаторной карты</td>
                    <td><input style="width: 100%;" readonly ng-value="CurrentTMK.NHISTORY" /></td>
                </tr>
                <tr>
                    <td class="BoldText">Дата начала лечения</td>
                    <td><input style="width: 100%;" type="date" readonly  ng-value="CurrentTMK.DATE_B|date:'yyyy-MM-dd'" /></td>
                </tr>
                <tr>
                    <td class="BoldText">Дата оформления запроса на ТМК</td>
                    <td><input style="width: 100%;" type="date" readonly ng-value="CurrentTMK.DATE_QUERY|date:'yyyy-MM-dd'" /></td>
                </tr>
                <tr>
                    <td class="BoldText">Дата получения протокола</td>
                    <td><input style="width: 100%;" type="date" readonly ng-value="CurrentTMK.DATE_PROTOKOL|date:'yyyy-MM-dd'" /></td>
                </tr>
                <tr>
                    <td>Дата проведения очной консультации\консилиума</td>
                    <td><input style="width: 100%;" type="date" readonly ng-value="CurrentTMK.DATE_TMK|date:'yyyy-MM-dd'" /></td>
                </tr>

            </table>
        </div>
        <hr />
        <div>
            <table style="width: 100%;">
                <tr>
                    <td class="BoldText" style="width: 20%;">Профиль</td>
                    <td><input style="width:100%;" readonly ng-value="CurrentTMK.PROFIL_NAM"  /></td>
                </tr>
                <tr>
                    <td class="BoldText">Наименование НМИЦ</td>
                    <td><input style="width:100%;" type="text" readonly ng-value="CurrentTMK.NMIC_NAM" /></td>
                </tr>
                <tr>
                    <td class="BoldText">Телемедицинская система</td>
                    <td><input style="width:100%;" type="text" readonly ng-value="CurrentTMK.TMS_NAM" /></td>
                </tr>
            </table>
        </div>
    </div>
    
    <hr />
    
<div>
    <h4>Данные СМО</h4>
    <div ng-switch="IsTMKSMO || IsTMKAdmin && IsTFOMS()">
        <div ng-switch-when="true">
            <div ng-class="{'OnSuccessDIV' : SMODataOK===true,  'OnFailureDIV' :SMODataOK==false,  'OnAjaxDIV':SMODataOK==null}">{{SMODataStatus}}</div>
            <table>
                <tr><th>Тип оплаты</th><th>Вид медицинской документации</th><th>Комментарий СМО</th></tr>
                <tr>
                    <td>
                        <select style="width: 100%;" class="select-select2" select-2 ng-model="CurrentTMK.OPLATA" convert-to-number>
                            @foreach (var item in Model.OPLATA)
                            {
                                <option value="@item.ID_OPLATA">@item.OPLATA</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select style="width: 100%;" class="select-select2" select-2 ng-model="CurrentTMK.VID_NHISTORY" convert-to-number>
                            @foreach (var item in Model.VID_NHISTORY)
                            {
                                <option value="@item.ID_VID_NHISTORY">@item.VID_NHISTORY</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="text" ng-model="CurrentTMK.SMO_COM" name="SMO_COM"/>
                    </td>
                </tr>
            </table>
            <p></p>
            <input type="button" value="Сохранить" class="ActionButton" ng-click="SaveSMOData()"/>
        </div>
        <div ng-switch-default>
            <table style="text-align: left">
                <tr>
                    <th>Тип оплаты</th>
                    <td>{{CurrentTMK.OPLATA_NAM}}</td>
                </tr>
                <tr>
                    <th>Вид медицинской документации</th>
                    <td>{{CurrentTMK.VID_NHISTORY_NAM}}</td>
                </tr>
                <tr>
                    <th>Комментарий СМО</th>
                    <td>{{CurrentTMK.SMO_COM}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
    
    <hr />
    <div style="display: flex; justify-content: flex-start;" ng-if="IsTMKSMO || IsTMKAdmin && IsTFOMS()">
    <div style="margin-right: 5px;">               
        <input type="submit" class="ActionButton" ng-click="AddExpertizeDialog(1)"  value="Добавить акт МЭК"/>
        <input type="submit" class="ActionButton" ng-click="AddExpertizeDialog(2)" value="Добавить акт МЭЭ"/>
        <input type="submit" class="ActionButton" ng-click="AddExpertizeDialog(3)" value="Добавить акт ЭКМП"/>
    </div>
    </div>

    <hr />
    <div ng-if="IsLoadExpertize==true">Загрузка экспертиз...</div>
    <div ng-if="IsLoadExpertize===false" style="margin-top: 100px;" ng-repeat="exp in Expertizes">
        <hr style="border-top: 2px solid black;" />
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h1>Акт {{exp.S_TIP|S_OSN_NAME}} №{{exp.NUMACT}} от {{exp.DATEACT|date:'dd.MM.yyyy'}}</h1>
            </div>
            <div style="display: flex; justify-content: flex-start" ng-if="IsTMKSMO || IsTMKAdmin && IsTFOMS()">
                <div class="tooltip">
                    <input class="editButtonICO" type="button" ng-click="EditExpertizeDialog(exp.EXPERTIZE_ID)" />
                    <span class="tooltiptext">Редактировать</span>
                </div>
                <div class="tooltip">
                    <input type="button" class="delButtonICO" ng-click="DeleteExpertize(exp.EXPERTIZE_ID)" />
                    <span class="tooltiptext">Удалить экспертизу</span>
                </div>
            </div>
        </div>
        <div>
            <label class="BoldText">№ акта: </label>{{exp.NUMACT}}
            <label class="BoldText">Дата акта: </label>{{exp.DATEACT|date:'dd.MM.yyyy'}}
            <label class="BoldText" ng-hide="exp.S_TIP !== 2">Специалист: </label><span ng-hide="exp.S_TIP !== 2">{{exp.FIO}}</span>
            <label class="BoldText" ng-hide="exp.S_TIP !== 3">Врач ЭКМП: </label><span ng-hide="exp.S_TIP !== 3"></span>{{exp.FIO}}




            <table class="table_input" ng-hide="exp.S_TIP === 1">
                <tr>
                    <td class="BoldText" width="70%">Наличие заключение медицинского работника, привлекаемого для проведения консультации и (или) участия в консилиуме врачей с применение телемедицинских технологий или протокола консилиума врачей</td>
                    <td>{{exp.ISCOROLLARY|YesNo}}</td>
                </tr>

                <tr ng-hide="exp.S_TIP === 2">
                    <td class="BoldText">Наличие в медицинской документации медицинских показаний, не позволяющих применить рекомендацию(и)</td>
                    <td>{{exp.ISNOTRECOMMEND|YesNo}}</td>
                </tr>

                <tr ng-hide="exp.S_TIP === 2">
                    <td class="BoldText">Заключение эксперта качества медицинской помощи об обоснованности действий лечащего врача</td>
                    <td>{{exp.ISOSN|ToOSN}}</td>
                </tr>

                <tr>
                    <td class="BoldText">Цель консультаций/консилиумов с применением телемедицинских технологий</td>
                    <td>{{exp.CELL_NAME}}</td>
                </tr>

                <tr ng-hide="exp.S_TIP === 2">
                    <td class="BoldText">Оценка полноты выполнения медицинскими организациями рекомендаций медицинских работников НМИЦ по применению методов профилактики, диагностики, лечения и реабилитации, данных при проведении указанными центрами консультаций/консилиумов с применением телемедицинских технологий</td>
                    <td>{{exp.FULL_NAME}}</td>
                </tr>

                <tr ng-hide="exp.S_TIP === 3">
                    <td class="BoldText">Наличие факта отражения рекомендаций в медицинской документации, в том числе в листе назначения</td>
                    <td>{{exp.ISRECOMMENDMEDDOC|YesNo}}</td>
                </tr>

                <tr ng-hide="exp.S_TIP === 2">
                    <td class="BoldText">Констатировано неисполнение следующих рекомендаций:</td>
                    <td>{{exp.NOTPERFORM}}</td>
                </tr>
            </table>
            <hr />
            <div ng-switch="exp.OSN.length === 0">
                <div ng-switch-when="true"><h3>Без дефектов</h3></div>
                <div ng-switch-when="false">
                    <table class="table_report">
                        <tr>
                            <th>Дефект</th>
                            <th>Комментарий</th>
                            <th>Сумма</th>
                            <th>Штраф</th>
                        </tr>
                        <tr ng-repeat="osn in exp.OSN">
                            <td style="text-align: left;">{{osn.S_OSN_NAME}}</td>
                            <td style="text-align: left;">{{osn.S_COM}}</td>
                            <td style="text-align: right;">{{osn.S_SUM}}</td>
                            <td style="text-align: right;">{{osn.S_FINE}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <hr style="border-top: 2px solid black;" />
    </div>

</div>
