@model TMKReportModel
@{
    ViewBag.Title = "Отчет ТМК";
    var date_2 = DateTime.Now.ToString("yyyy-MM-dd");
    var date_1 = (new DateTime(DateTime.Now.Year, 1, 1)).ToString("yyyy-MM-dd");
    var NMIC_VID_NHISTORY = Model.NMIC_VID_NHISTORY.Select(x => new SelectListItem(x.VID_NHISTORY, x.ID_VID_NHISTORY.ToString(), x.ID_VID_NHISTORY == 1 || x.ID_VID_NHISTORY == 4));
}
@section Lib
{
    <script src="~/lib/Select2/select2.min.js"></script> 
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.select-select2').select2();
        });
    </script>
}
@section Style
{
    <link href="~/lib/Select2/select2.min.css" rel="stylesheet" />
}
<form method="get" data-ajax="true" data-ajax-update="#Result" data-ajax-url="GetReport">

    <span>с </span>
    <input type="date" name="Date1" value="@date_1" required />
    <span> по </span>
    <input type="date" name="Date2" value="@date_2" required />

    <input type="checkbox" name="IsSMO" value="true" /><span> Группировать по СМО</span>
    <input type="hidden" name="IsSMO" value="false" />

    <input type="checkbox" name="IsMO" value="true" /><span> Группировать по МО</span>
    <input type="hidden" name="IsMO" value="false" />

    <input type="checkbox" name="isNMIC" value="true" /><span> Группировать по НМИЦ</span>
    <input type="hidden" name="isNMIC" value="false" />

    <hr />
    <label class="BoldText">Вид медицинской документации</label>
    <select style="width: 100%;" class="select-select2" name="VID_NHISTORY" multiple="multiple" asp-items="NMIC_VID_NHISTORY">
       
    </select>
    <p />
    <input type="submit" class="ActionButton" value="Запрос" />
</form>
<p />
<div id="Result">

</div>


