
@model MSEIndexModel
@{
    ViewBag.Title = "Справочник МСЭ";

    var CODE_SMOspr = Model.CODE_SMO.Select(x => new SelectListItem(x.NAM_SMOK, x.SMOCOD));

}

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

@section Style
{
    <style>
        th {
            position: sticky;
            top: -1px;
            z-index: 2;
        }

        .card {
            border: 0;
            float: left;
            position: relative;
        }

        .cornerimage {
            border: 0;
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>
    <link href="~/css/Tooltip.css" rel="stylesheet" />
    <link href="~/lib/collapsible/collapsible.css" rel="stylesheet" />
    <link href="~/css/lds-hourglass-loader.css" rel="stylesheet" />

    <style>
        .ui-grid-header-cell .ui-grid-cell-contents {
            height: 110px;
            word-wrap: break-word;
            white-space: normal;
            display: flex;
            align-content: stretch;
        }

        .ui-grid-viewport .ui-grid-cell-contents {
            word-wrap: break-word;
            white-space: normal !important;
            padding: 5px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
            height: 100%;
        }

        .ui-grid-row, .ui-grid-cell {
            height: auto !important;
        }

            .ui-grid-row div[role=row] {
                display: flex;
                align-content: stretch;
            }

        .uiGrd {
            height: 70vh;
        }
    </style>
}


<script src="~/lib/angularJS/angular-sanitize.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.8/select.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.8/select.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">


@section Lib
{
    <link href="~/lib/Select2/select2.min.css" rel="stylesheet" />
    <script src="~/lib/Select2/select2.min.js"></script>

    @{ await Html.RenderPartialAsync("_AngularJSScriptsPartical");}


    <script src="~/lib/angular-ui-grid/ui-grid.min.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.core.My.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.pagination.min.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.cellnav.min.js"></script>
    <script src="~/lib/angular-ui-grid/ui-grid.selection.min.js"></script>
    <script src="~/lib/angular-ui-grid/i18n/ui-grid.language.ru.min.js"></script>
    <link href="~/lib/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />
    <script src="~/lib/angular-ui-grid/ui-grid.resize-columns.min.js"></script>
    <link href="~/lib/angular-ui-grid/ui-gridCustomStyle.css" rel="stylesheet" />
    <script src="~/lib/angular-ui-grid/ui-grid.auto-resize.min.js"></script>



    <link href="~/lib/ContextMenu/ContextMenu.css" rel="stylesheet" />
    <script src="~/lib/ContextMenu/contextMenu.js"></script>
    <script src="~/lib/ContextMenu/ui-bootstrap-tpls-2.5.0.js"></script>



    <link href="~/lib/ModalWindow/Modal.css" rel="stylesheet" />
    <script src="~/lib/ModalWindow/Modal.js" asp-append-version="true"></script>


    <link href="~/lib/grid-msg-loader/grid-msg-loader.css" rel="stylesheet" />
    <script src="~/lib/grid-msg-loader/grid-msg-loader.js"></script>
    <script src="~/js/underscore.min.js"></script>
    <script src="~/js/AngularJSApp/AppMSEReestr.js" asp-append-version="true"></script>
}
@section Scripts
{
    <script src="~/lib/collapsible/collapsible.js"></script>
    <script>
        $(document).ready(function () {
            $('.select-select2').select2();
        });
        function auto_grow(element) {
            element.style.height = "5px";
            element.style.height = (element.scrollHeight) + "px";
        }
    </script>
}

@{
    var IsMSEAdmin = User.IsInRole("MSEAdmin");
    var IsMSESmo = User.IsInRole("MSESmo");
}

<div ng-controller="Grid1 as $GRID1" id="GRID1" ng-app="myApp" ng-init="init(@($"{(IsMSEAdmin ? "true" : "false")},{(IsMSESmo ? "true" : "false")})")">
   
   

    <div>
        <div class="collapsible">
            <div active class="collapsible-header">Поиск</div>
            <div class="collapsible-content">
                <p />
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <label class="label-sup">Полис <input type="text" ng-model="Filter.ENP" /></label>
                        <label class="label-sup">Фамилия <input type="text" ng-model="Filter.FAM" /></label>
                        <label class="label-sup">Имя <input type="text" ng-model="Filter.IM" /></label>
                        <label class="label-sup">Отчество <input type="text" ng-model="Filter.OT" /></label>
                        <label class="label-sup">Дата рождения <input type="date" ng-model="Filter.DR" /></label>
                        <label class="label-sup">СНИЛС <input type="text" ng-model="Filter.SNILS" /></label>
                    </div>
                    <div>
                        <input type="button" class="delButton" value="Очистить" ng-click="ClearFilter()" />
                    </div>
                </div>
                <hr />

                <div>
                    <table style="width: 100%; text-align: left;">
                        <tr>
                            <th style="width: 30%;">Дата направления информации в ТФОМС</th>
                            <td>
                                <label class="label-sup">от <input type="date" ng-model="Filter.D_FORM_BEGIN" /></label> <label class="label-sup">до <input type="date" ng-model="Filter.D_FORM_END" /></label>
                            </td>
                        </tr>
                        <tr>
                            <th>Дата принятия решения о направлении на МСЭ</th>
                            <td>
                                <label class="label-sup">от <input type="date" ng-model="Filter.D_PROT_BEGIN" /></label> <label class="label-sup">до <input type="date" ng-model="Filter.D_PROT_END" /></label>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr />
                <div>

                    <table style="width: 100%; text-align: left;">
                        <tr>
                            <th style="width: 30%;">Медицинская организация</th>
                            <td>
                                <input type="text" ng-model="Filter.CODE_MO" />
                            </td>
                        </tr>

                        <tr>
                            <th>Страховая компания</th>
                            <td>
                                <select style="width: 100%;" class="select-select2" id="FilterSMO" ng-model="Filter.SMO" multiple="multiple" asp-items="CODE_SMOspr"></select>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr />
                <input type="submit" class="ActionButton" value="Найти" style="display: table; margin: 0 auto;" ng-click="Find()" />
                <p></p>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <a asp-action="GetMSEReestrFile" class="ActionButton">Скачать Excel</a>
    </div>
    <p></p>


    <div>
        <div ui-i18n="'ru'">
            <p class="BoldText TextCursiv">*Управление таблицей происходит с помощью выделения и правой кнопки мыши</p>
            <p class="BoldText TextCursiv">*Двойной щелчок левой кнопки мыши открывает запись</p>
            <div class="uiGrd" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ui-grid-loader>
            </div>
        </div>
    </div>


    <modal id="custom-modal-1">
        <div class="modal">
            <div class="modal-body">
                <div class="modal-head">
                    <h1>Caption</h1>
                    <span class="close" ng-click="closeModal('custom-modal-1');">&times;</span>
                </div>
                <div class="modal-content"></div>
            </div>
        </div>
        <div class="modal-background"></div>
    </modal>

    <modal id="custom-modal-2">
        <div class="modal">
            <div class="modal-body">
                <div class="modal-head">
                    <h1>Caption</h1>
                    <span class="close" ng-click="closeModal('custom-modal-2');">&times;</span>
                </div>
                <div class="modal-content"></div>
            </div>
        </div>
        <div class="modal-background"></div>
    </modal>
</div>



