@using SiteCore.Data
@model FILES
@{
    Layout = null;
}

@if (Model.SIGN_ISP_VALID == true)
{
    <form asp-action="GetFileSig" method="get" asp-ro></form>
    using (Html.BeginForm("GetFileSig", "MedpomReestr", new { FileName = "" }, FormMethod.Get))
    {
        <input name="FileName" type="hidden" value="@Model.FILENAME">
        <input style="cursor:pointer;display:inline-block;float:left;" type="image" src="~/Image/SIGN.png" border="0" alt="Submit" width="30" height="30" title='Файл подписан исполнителем' />
    }
}
else
{
    <img src="~/Image/NOT_SIGN.png" style="display:inline-block;float:left;" border="0" alt="Submit" width="30" height="30" title='Файл не подписан исполнителем' />
}
@if (Model.SIGN_BUH_VALID == true)
{
    using (Html.BeginForm("GetFileSig", "MedpomReestr", new { FileName = "" }, FormMethod.Get))
    {
        <input name="FileName" type="hidden" value="@Model.FILENAME">
        <input style="cursor:pointer;display:inline-block;float:left;" type="image" src="~/Image/SIGN.png" border="0" alt="Submit" width="30" height="30" title='Файл подписан бухгалтером' />
    }
}
else
{
    <img src="~/Image/NOT_SIGN.png" style="display:inline-block;float:left;" border="0" alt="Submit" width="30" height="30" title='Файл не подписан бухгалтером' />
}
@if (Model.SIGN_DIR_VALID == true)
{
    using (Html.BeginForm("GetFileSig", "MedpomReestr", new { FileName = "" }, FormMethod.Get))
    {
        <input name="FileName" type="hidden" value="@Model.FILENAME">
        <input style="cursor:pointer;display:inline-block;float:left;" type="image" src="~/Image/SIGN.png" border="0" alt="Submit" width="30" height="30" title='Файл подписан директором' />
    }
}
else
{
    <img src="~/Image/NOT_SIGN.png" style="display:inline-block;float:left;" border="0" alt="Submit" width="30" height="30" title='Файл не подписан директором' />
}