
@{
    ViewBag.Title = "Инструкция по подаче реестров";
}
<style>
    .snos{
  vertical-align: super; /* поместить на линию верхнего индекса */ 
  font-size: 60%; /* уменьшить шрифт цифры */ 
  margin-left: .1em;
  color:forestgreen;
  }



</style>
<section style="font-size:14px;">
   
    

    <p>Для управления подачей реестров оказаной медицинской помощи используются следующие функции:</p>
    <p>
        1) <a href="#id1" class="TFOMS_A">Загрузка файлов</a> 
    </p>
    <p>
        2) <a href="#id2" class="TFOMS_A">Статус загрузки</a>
</p>
    <p>
        3) <a href="#id3" class="TFOMS_A">Подпись файлов</a>
    </p>


    <h2 id="id1" style="text-align:center"><span class="BoldText"> Загрузка файлов</span></h2>

    <div style="text-align:center"> <img align="middle" class="ImageCenter" src="~/InstructionSource/InstuctionImage1.png" /></div>
    <p>Страница загрузки файлов содержит следующую информацию:</p>
    <ul>
        <li>
            Статус приема: <span class="GreenText">Активно</span> или <span class="RedText">Не активно</span>;
        </li>
        <li>Тип приема: <span class="GreenText">Основной</span> или <span class="YellowText">Предварительный</span> – Тип текущего приема, все реестры загруженные во время предварительного приема удаляются, при включении основного приема</li>
        <li>Ваш Реестровый номер – Реестровый номер медицинской организации по справочнику <span class="BoldText">F003</span></li>
        <li>Ваша медицинская организация – наименование медицинской организации по справочнику <span class="BoldText">F003</span></li>
    </ul>

    <small>Обращаем Ваше внимание, что загрузка файлов возможна, даже если прием не активен При не активном приеме вы не сможете поставить файлы на проверку, но сможете это сделать как только прием будет включен.</small>

    <p>К обработке принимаются:</p>
    <ul>
        <li>файлы форматов XML или ZIP, причем во время загрузки архивы будут извлечены. Другие форматы игнорируются.</li>
        <li>Файлы должны иметь правильное наименование<a class="snos" href="#FILENAME">[1]</a>;</li>
        <li>Каждый файл данных должен иметь файл персональных данных;</li>
        <li>Код МО в файле должен соответствовать Реестровому номеру Вашей организации.</li>
    </ul>


    <p>Загрузка файлов осуществляется путем нажатие на кнопку <span class="BoldText">«Загрузка файлов»</span>  или перетаскиванием файлов на нее.</p>
    <p>Для того чтобы поставить файлы на проверку нажмите на кнопку <span class="BoldText">«Отправить на обработку»</span></p>


    <h2></h2>


    <p class="BoldText" id="FILENAME">
        Наименование файлов
    </p>
    <p class="BoldText">[Ti][Pi][Ni][Pp][Np]_[YY][MM][N].xml где</p>
    <ul >
        <li><span class="BoldText">[Ti]</span> – Тип файла</li>
        <li><span class="BoldText">[Pi]</span> - Параметр определяющий организацию – Источник(T – ТФОМС, S – СМО, M - МО);</li>
        <li><span class="BoldText">[Ni]</span> – Номер источника(реестровый номер МО);</li>
        <li><span class="BoldText">[Pp]</span>-Параметр определяющий организацию – получателя(T – ТФОМС, S – СМО, M - МО);</li>
        <li><span class="BoldText">[Np]</span> – Номер получателя;</li>
        <li><span class="BoldText">[YY]</span> – Две последние цифры порядкового номер года отчетного периода;</li>
        <li><span class="BoldText">[MM]</span> – порядковый номер месяца отчетного периода;</li>
        <li><span class="BoldText">[N]</span> – порядковый номер пакета.</li>
    </ul>

    <h2></h2>



   <h2  id="id2" style="text-align:center"><span>Статус загрузки</span></h2> 
    <div style="text-align:center;">
        <img class="ImageCenter" src="~/InstructionSource/InstuctionImage2.png" />
    </div>
        <p>Страница статуса  показывает текущий активный пакет, принятый в ТФОМС Забайкальского края</p>

    <p>Текущий пакет может быть принят как с сайта, так и с почты «VipNet»</p>
    <h2></h2>
    <p>Окно статуса загрузки содержит следующую информацию:</p>
    <ul>
        <li>Код МО – реестровый номер медицинской организации по справочнику F003;</li>
        <li>Наименование МО – наименование медицинской организации по справочнику F003;</li>
        <li>Дата создания – Дата и время поступления пакета в обработку;</li>
        <li>Источник – источник поступление пакета (Сайт, Почта);</li>
        <li>Статус – Шаг обработки пакета(Завершено, В работе,Ошибка при проверке);</li>
        <li>Комментарий – сопроводительная информация;</li>
        <li>Позиция в очереди – порядковый номер в очереди на проверку.</li>
    </ul>
    <p>Для получения протокола обработки нажмите на кнопку <span class="BoldText">«Скачать протокол»</span></p>
    <p class="TextCursiv">Данные на странице <span class="BoldText">не обновляются автоматически</span>, для актуализации информации необходимо обновить страницу или нажать на кнопку <span class="BoldText">«Обновить»</span></p>
    <p class="TextCursiv">Обращаем Ваше внимание на то, что для данных полученных через Сайт протокол не высылается на почту «VipNet»</p>


    <h2 id="id3" style="text-align:center"><span class="BoldText"> Подпись файлов</span></h2>
    <p>Подпись файлов необходима при <span class="GreenText">Основном</span> приеме реестров</p>
    <p>Для подписи файлов Вам необходимо (Данные действия рекомендуется выполнить техническим специалистам):</p>
    <ul>
        <li>Скачать и установить <a class="TFOMS_A" href="~/InstructionSource/cadesplugin.exe">КриптоПро ЭЦП Browser plug-in</a></li>
        <li>Добавить сертификат для подписи в Личное хранилище текущего пользователя</li>
        <li>Добавить все сертификаты из цепочки сертификатов в хранилище</li>
    </ul>
   
    
    <p>При основном приеме реестров, активируется дополнительное меню "Подпись"</p>
    <div style="text-align:center;">
        <img  style="width:900px;"  class="ImageCenter" src="~/InstructionSource/InstuctionImage3.png" />
    </div>
    В данном окне необходимо выбрать подпись и нажать на кнопку "Подписать".
    В случае успеха вы получите соответствующие сообщение.
    Если валидация подписи на сервере пройдет успешно, то напротив каждого файла в таблице появится значок  
    <img src="~/InstructionSource/InstuctionImage6.png" />, иначе 
    <img src="~/InstructionSource/InstuctionImage4.png" />. При щелчке на данную иконку, начнется загрузка архива файла и файла подписи.

    <p style="font-si">При щелчке на иконку <img src="~/InstructionSource/InstuctionImage7.png" /> откроется окно с информацией о файле.</p>

   


    <p>Возможные проблемы:</p>
    <ul>
        <li><b>Подпись действительна, но подписавший не является уполномоченным лицом для сдачи реестров</b> - это значит, что подпись документа действительна, но владелец подписи не имеет права сдавать реестры оказанной медицинской помощи для данной организации. Обратитесь в ТФОМС для решения данного вопроса.
</li>
        <li><b>Не удалось найти все сертификаты из цепочки сертификатов</b> - добавьте все корневые сертификаты в хранилище сертификатов
</li>
        <li><b>Не удается построить цепочку сертификатов для доверенного корневого центра</b> - подпись выдана удостоверяющим центром, которому не доверяет ТФОМС Забайкальского края </li>
    </ul>
   
   
    <p style="font-size:20px" class="RedText" >В данный момент список допущенных лиц к сдаче реестров пуст. Поэтому при подписи Вы будете видеть сообщение "Подпись действительна, но подписавший не является уполномоченным лицом для сдачи реестров". Следовательно, невозможно сдать реестры при основном приеме...</p>
    

</section>
    

   
    










