@{
    ViewBag.Title = "Просмотр обработки реестров";
}
@section Lib
{
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/js/updateBtn.js"></script>
}
@section Style
{
    <link href="~/css/lds-hourglass-loader.css" rel="stylesheet" />
}
<form data-ajax="true" data-ajax-method="get" data-ajax-url="@Url.Action("ViewReestrAjax")" data-ajax-update="#Result" data-ajax-begin="ShowLoader()" data-ajax-success="HideLoader()" data-ajax-failure="Err()">
    <input id="UpdateBtn" type="submit" value="Обновить" class="ActionButton" />
</form>
<div id="Result" style="display:unset"></div>
<div id="LoadingBar" class="lds-hourglass" ></div>


@section Scripts
{

    <script>
        const Notification = new signalR.HubConnectionBuilder().withUrl("../Notification").build();
        Notification.on("NewPackState", function() { HiddenBtnClick(); });
        Notification.start().catch(err =>
            console.error(err.toString())).then(() => { Notification.invoke('Register').catch(err => console.error(err.toString())); });
       HiddenBtnClick();
    </script>
}