@model SiteCore.Data.ErrorSPR

<div>
    <table style="width: 98%;">
        <tr>
            <td style="width: 20%;">Секция</td>
            <td>@Model.Section.SECTION_NAME</td>
        </tr>
        <tr>
            <td>Код ошибки</td>
            <td>@Model.OSN_TFOMS</td>
        </tr>
        <tr>
            <td>Пример текста ошибки</td>
            <td>@Model.EXAMPLE</td>
        </tr>
    </table>
</div>
<p>Описание ошибки</p>
<div >
    <textarea id="editorEditErrView">@Html.Raw(Model.TEXT_STR)</textarea>
</div>


<script>
    ClassicEditor.create(document.querySelector('#editorEditErrView'), { toolbar: [] })
        .then(editor => {
            editor.isReadOnly = true;
            console.log('Editor was initialized', editor);
        })
        .catch(error => {
            console.error(error.stack);
        });

</script>