@using Microsoft.AspNetCore.Identity
@using SiteCore.Data
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ТФОМС Забайкальского края</title>

    <link rel="shortcut icon" href="~/Image/favicon.png" type="image/png">
    <!--[if lte IE 9]>
        <script >
            window.location.href = '/oldBrowser/Index.html';
        </script>
    <![endif]-->
    <script>
        if (navigator.userAgent.indexOf('MSIE') !== -1
            || navigator.appVersion.indexOf('Trident/') > -1) {
            window.location.href = '/oldBrowser/Index.html';
        }
    </script>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

    @await RenderSectionAsync("Lib", required: false)
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/navMenu.css?1" rel="stylesheet" />
    <link href="~/css/circularGMain.css" rel="stylesheet" />
    <link href="~/css/field-validation.css" rel="stylesheet" />
    @await RenderSectionAsync("Style", required: false)
</head>
@{
    var isMO = User.IsInRole("MO");
    var isOMS = User.IsInRole("OOMS");
    var isOZPZ = User.IsInRole("OZPZ");
    var isSTAT_STAC = User.IsInRole("STAT_STAC");
    var isTMKAdmin = User.IsInRole("TMKAdmin");
    var isTMKSMO = User.IsInRole("TMKSMO");
    var isTMKReader = User.IsInRole("TMKReader");
    var isTMKUser = User.IsInRole("TMKUser");
    var isONKReestr = User.IsInRole("ONKReestr");
    var IsMSEAdmin = User.IsInRole("MSEAdmin");
    var IsMSESmo = User.IsInRole("MSESmo");
    var isSignReestrAdmin = User.IsInRole("SignReestrAdmin");
    var isCS = User.IsInRole("CS");
    var isAdmin = User.IsInRole("Admin");
    var isSignAdmin = User.IsInRole("SignAdmin");
    var isSignMO = User.IsInRole("SignMO");
   
}
<body>

    <div id="MainDivAp">
        <div class="MAIN">
            <div class="HEADER">
                <div class="LOGO">
                    <img src="~/Image/logo.png" />
                    <p class="Logo_text">ТФОМС Забайкальского края</p>
                </div>
                <div class="LOGO1">
                </div>
                <div class="LOGO2">
                 
                </div>
            </div>

            <div>
                <nav>
                    <ul class="topmenu">
                        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                     
                        @if (isMO)
                        {
                            <li>
                                <a class="submenu-link">Прием реестров</a>
                                <ul class="submenu">
                                    <li><a asp-action="ReestrMed" asp-route-selectIndex="0" asp-controller="MedpomReestr">Загрузка файлов</a></li>
                                    <li><a asp-action="ReestrMed" asp-route-selectIndex="1" asp-controller="MedpomReestr">Статус загрузки</a></li>
                                    <li><a asp-action="ReestrMed" asp-route-selectIndex="2" asp-controller="MedpomReestr">Справочник ошибок</a></li>
                                    @if (isSignAdmin || isSignMO)
                                    {
                                        <li><a asp-action="SignSPR" asp-controller="Sign">Подписи</a></li>
                                    }
                                    @if (isCS)
                                    {
                                        <li><a asp-action="ReestrMed" asp-route-selectIndex="3" asp-controller="MedpomReestr">Поиск в ЦС</a></li>
                                    }
                                    </ul>
                            </li>
                        }
                        @if (isTMKAdmin || isTMKSMO || isTMKReader || isTMKUser)
                        {
                            <li>
                                <a class="submenu-link">Реестр ТМК</a>
                                <ul class="submenu">
                                    <li><a asp-action="TMKReestr" asp-controller="TMKReestr">Реестр</a></li>
                                    @if (isTMKAdmin || isTMKSMO)
                                    {
                                        <li><a asp-action="Report" asp-controller="TMKReestr">Отчет</a></li>
                                    }
                                    @if (isTMKUser || isTMKAdmin)
                                    {
                                        <li><a asp-action="ContactInfo" asp-controller="TMKReestr">Справочник МО</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (IsMSEAdmin || IsMSESmo)
                        {
                            <li>
                                <a class="submenu-link">Реестр МСЭ</a>
                                <ul class="submenu">
                                    <li><a asp-action="MSE_REESTR" asp-controller="MSE">Реестр</a></li>
                                    <li><a asp-action="Report" asp-controller="MSE">Отчет</a></li>
                                </ul>
                            </li>
                        }
                        @if (isONKReestr)
                        {
                            <li><a asp-action="ONKReestr" asp-controller="ONKReestr">Реестр ОНК</a></li>
                        }


                        @if (isOMS || isOZPZ || isSTAT_STAC)
                        {
                            <li>
                                <a class="submenu-link">Отчеты</a>
                                <ul class="submenu">
                                  @*  @if (isOMS)
                                    {
                                        <li><a asp-action="CURRENT_VMP_VIEW" asp-controller="OOMS">Текущее ВМП</a></li>
                                        <li><a asp-action="AbortView" asp-controller="OOMS">Аборты</a></li>
                                        <li><a asp-action="ECOView" asp-controller="OOMS">ЭКО</a></li>
                                        <li><a asp-action="KOHLView" asp-controller="OOMS">Кохлеарная имплантация</a></li>
                                        <li><a asp-action="OKS_ONMKView" asp-controller="OOMS">ОКС\ОНМК</a></li>
                                    }
                                    @if (isOZPZ)
                                    {
                                        <li><a asp-action="ZPZ_EFFECTIVENESS" asp-controller="OZPZ">Результативность</a></li>
                                    }*@
                                    @if (isSTAT_STAC)
                                    {
                                        <li><a asp-action="STAC_PLAN" asp-controller="STAC_PLAN">Планирование</a></li>
                                    }
                                    @if (isAdmin || isOMS || isOZPZ)
                                    {
                                        <li><a asp-action="Reports" asp-controller="Reports">Отчеты</a></li>
                                    }
                                </ul>
                            </li>
                        }

                        <li><a asp-action="About" asp-controller="Home">О программе</a></li>
                        @await Html.PartialAsync("_LoginPartial")
                    </ul>
                </nav>
            </div>
            <div class="SiteContent">
                @RenderBody()
            </div>
        </div>

    </div>
    <div id="notification" style="width: 17%; position: fixed; right: 10px; bottom: 5px;"></div>

@await RenderSectionAsync("Scripts", required: false)
    

</body>
</html>
