@model List<SiteCore.Data.CURRENT_VMP_OOMS>
@{
    ViewBag.Title = "Аборты";
}
@section Lib
{
    <link href="~/css/lds-hourglass-loader.css" rel="stylesheet" /> 
}

<h2>Аборты за отчетный год(предъявленные без учета доп. реестров)</h2>
<h5>Выборка нарастающим итогом за отчетный год</h5>
<form data-ajax="true" data-ajax-url="@Url.Action("GET_ABORT_VIEW")" data-ajax-update="#Result" data-ajax-begin="Hide(1)" data-ajax-Success="Hide(2)" data-ajax-Failure="Err()">
    <label>Отчетный год: </label> <input type="number" name="YEAR" value="@DateTime.Now.Year" required/>
    <input type="submit" value="Запрос" class="ActionButton" id="update" />
</form>
<div id="Result">
</div>
<div class="lds-hourglass" id="LoadingBar" style="display: none; "></div>

@section Scripts
{
    <script>
        function Hide(value) {
            if (value === 1)
            {
                const Result = document.getElementById('Result');
                Result.style.display = 'none';
                const LoadingBar = document.getElementById('LoadingBar');
                LoadingBar.style.display = 'block';
                $('#update').prop('disabled', true);
            }
            else
            {
                let link = document.getElementById('Result');
                link.style.display = 'block';
                link = document.getElementById('LoadingBar');
                link.style.display = 'none';
                $('#update').prop('disabled', false);
            }
        }

        function Err(xhr, textStatus, errorThrown){
            alert('Ошибка запроса');
            Hide(2);
        }
    </script>
}