@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title</h2>


<address>
    ТФОМС Забайкальского края<br />

</address>
<br />
<br />
<address>
    <strong>Поддержка:</strong>   <span>8(3022)-21-26-69</span><br />
    <strong>Ответственное лицо:</strong>   <span>Нестерёнок Денис Валерьевич</span><br />
</address>
