@model List<SiteCore.Data.NEWS>;

@{
    ViewBag.Title = "Главная страница";
    var IsAdmin = User.IsInRole("Admin");
}

<link href="~/css/ModalWindow.css" rel="stylesheet" />
<div>
    <h3>Для использования функций сайта необходимо выполнить вход</h3>
    <h3>Логин и пароль был разослан Вам через почту "VipNet"</h3>

    @Html.ActionLink("Инструкция по подаче реестров", "InstructionView", "MedpomReestr", null, new { @class = "TFOMS_A" })
</div>
<p></p>
<div>

    @if (IsAdmin)
    {
        <div>
            <div style="margin-right: 5px;">
                <form asp-action="EditNews" method="get" data-ajax="true" data-ajax-update="#ModalAjaxContent" data-ajax-success="showModal" asp-antiforgery="true">
                    <input type="submit" class="ActionButton" value="Добавить новость" />
                </form>
            </div>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                    </div>

                    <div class="modal-body">
                        <div id="ModalAjaxContent"></div>
                    </div>
                </div>
            </div>

            <script>
                var modal = document.getElementById("myModal");
                var span = document.getElementsByClassName("close")[0];
                var ModalAjaxContent = document.getElementById("ModalAjaxContent");
                span.onclick = closeMyModal;

                function closeMyModal(result) {
                    modal.style.display = "none";
                    ModalAjaxContent.innerHTML = '';
                }

                function showModal() {
                    modal.style.display = "block";
                }

                function OnFailureAjax(response) {
                    alert(`Ошибка запроса: ${response.status}-${response.statusText}`);
                }

                function EditNewSuccess(response) {
                    $('#ModalAjaxContent').html(response);
                    showModal();
                }
                function OnSaveEditNews(response) {
                    const Result = response.Result;
                    const Value = response.Value;
                    if (Result) {
                        ReloadPage();
                    } else {
                        $('#ModalAjaxContent').html(Value);
                    }
                }

                function ReloadPage() {
                    document.location.reload();
                };

                function DeleteNewsSuccess(response) {
                    const Result = response.Result;
                    const Value = response.Value;
                    if (Result) {
                        ReloadPage();
                    } else {
                        alert(Value);
                    }
                }

            </script>

        </div>
    }
    <div id="NEWSArea">
        @{ await Html.RenderPartialAsync("NewsList", Model);}
    </div>

  
</div>