@{
    ViewBag.Title = "Главная страница";
    var IsAdmin = User.IsInRole("Admin");
}


<script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<link href="~/css/ModalWindow.css" rel="stylesheet" />
<div>
    <h3>Для использования функций сайта необходимо выполнить вход</h3>
    <h3>Логин и пароль был разослан Вам через почту "VipNet"</h3>
  
    @Html.ActionLink("Инструкция по подаче реестров", "InstructionView", "MedpomReestr", null, new { @class = "TFOMS_A" })
</div>
<p></p>
<div>

    @if (IsAdmin)
    {
        <div>
            <div style="margin-right: 5px;">
                <form asp-action="EditNews" data-ajax="true" data-ajax-method="GET" data-ajax-update="#ModalAjaxContent" data-ajax-Success="showModal">
                    <input type="submit" class="ActionButton" value="Добавить новость" />
                </form>
            </div>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                    </div>

                    <div class="modal-body">
                        <div id="ModalAjaxContent"></div>
                    </div>
                </div>
            </div>

            <script>
                var modal = document.getElementById("myModal");
                var span = document.getElementsByClassName("close")[0];
                var ModalAjaxContent = document.getElementById("ModalAjaxContent");
                span.onclick = closeMyModal;

                function closeMyModal(result) {
                    modal.style.display = "none";
                    ModalAjaxContent.innerHTML = '';
                }

                function showModal() {
                    modal.style.display = "block";
                }

                function OnFailureEditNews(XMLHttpRequest, textStatus, errorThrown) {
                    $('#ModalAjaxContent').html(XMLHttpRequest.View);
                }

                function OnSuccessEditNews(XMLHttpRequest, textStatus, errorThrown) {
                    if (XMLHttpRequest.Succeed === true) {
                        $('#NEWSArea').html(XMLHttpRequest.View);
                        closeMyModal(true);
                    } else {
                        OnFailureEditNews(XMLHttpRequest, textStatus, errorThrown);
                    }
                }
            </script>

        </div>
    }
    <div id="NEWSArea">
        @Url.Action("GetNews")
    </div>
</div>